@font-face {
	font-family: "Yellix";
	src: url("Assets\Fonts\Yellix\Yellix-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

html,
body,
button,
input,
select,
textarea {
	font-family: Yellix, sans-serif !important;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 45px 45px 0;
}

.qvplaceholder,
.qvobject {
	flex: 1 1 auto;
	height: 300px;
	min-width: 400px;
	margin: 45px 0 0 45px;
}

#popup {
	background-color: #c3534b;
	color: #FFFFFF;
	position: fixed;
	max-width: 250px;
	padding: 10px;
	margin: 10px;
	bottom: 0;
	right: 0;
	display: none;
	border-radius: 5px;
	z-index: 6;
	font-family: sans-serif;
}

.close {
	cursor: pointer;
	background: 0 0;
	border: 0;
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
	position: absolute;
	right: 9px;
	top: 7px;
}

.close:hover {
	opacity: .5;
}

#popupText {
	margin-right: 23px;
}


@media (max-width: 767px) {
	.carousel-inner .carousel-item>div {
		display: none;
	}

	.carousel-inner .carousel-item>div:first-child {
		display: block;
	}
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
	display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

	.carousel-inner .carousel-item-end.active,
	.carousel-inner .carousel-item-next {
		transform: translateX(25%);
	}

	.carousel-inner .carousel-item-start.active,
	.carousel-inner .carousel-item-prev {
		transform: translateX(-25%);
	}
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
	transform: translateX(0);
}

.container-fluid {
	background: url(https://cdn.qlikcloud.com/qmfe/hub/2.0.824/e4658b5dd60bf98b2096.svg), radial-gradient(circle at left, #2c5d70 0, #244b5a 100%);
}

#Authenticated-User {
	color: white;
}

.card {
	margin: 10px;
	cursor: pointer;
	max-height: 250px;
	overflow: hidden;
}

.card:hover {
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.16);
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.card-img-overlay {
	position: inherit;
}

.card-img,
.img-style {
	height: 180px;
	width: 296px;
	overflow: hidden;
}
